// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

#include "coast-sde-display-common.dtsi"

&mdss_mdp {
	connectors = <&sde_dsi &sde_dsi1>;
};
